---
import video from '../assets/img/video1.mp4'
---

<section class="w-full flex items-center mt-20 justify-center flex-col">
    <div class="w-full px-5 md:w-4/6 text-center">
        <h3 class="text-teal-700 font-bold text-2xl">Guía para Alimentación de Bebés</h3>
        <hr class="w-4/6 m-auto mt-2 mb-5 border-0.5 border-slate-700">
        <p class="w-full md:w-4/6 px-5 m-auto text-center">Con este curso aprendrás a cómo alimentar a tu bebé, con los alimentos más nutritivos, evitar que rechace la comida, lograr que coma solo y variado, sin necesidad de pasar horas en la cocina. <br> Aprenderás conceptos de nutrición necesarios para estar seguras que estás ofreciendo alimentos sanos y las cantidades suficientes. Y también como reaccionar ante los posibles problemas que presenten con algún alimento.</p>
        <video src={video} controls class="px-5 my-7 m-auto aspect-video w-[600px]"></video>
        <div class="w-full flex flex-col items-center gap-4">
            <span class="text-teal-700 text-4xl">USD$ 49.99</span>
            <p>(El precio se regionalizará al momento de compra)</p>
            <a href="https://go.hotmart.com/A87250455A?ap=fd02" target="_blank" class="bg-teal-700 text-white text-xl w-3/4 md:w-1/2 h-14 rounded-lg flex justify-center items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
                    <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                  </svg>
                Comprar Ahora
            </a>
        </div>
    </div>
</section>