---
import Image from "astro/components/Image.astro";
---

<main class="w-full flex items-center justify-center">
    <div class="w-1/2 flex gap-2">
        <Image src="" alt="" />
        <div>
            <h3>E-book BLW vs Purés</h3>
            <p></p>
        </div>
    </div>
</main>