---
import { Image } from "astro:assets";
import bg5 from '../assets/img/bg5.webp'
import plato from '../assets/img/plato.webp'
import bg7 from '../assets/img/bg7.webp'
import bg11 from '../assets/img/bg11.webp'
import { lazy } from "astro:schema";
---
<main class="w-full flex items-center mt-20 justify-center flex-col">
    <h2 class="text-center text-3xl my-5 font-bold text-teal-700">¿Qué aprenderás en este curso?</h2>
    <hr class="w-3/5 m-auto border-0.5 border-slate-700">
    <div class="w-full md:w-4/6 px-10 my-10 flex items-center justify-center flex-col">
        <div class="w-full m-auto flex justify-center gap-10 flex-col md:flex-row items-center my-5">
            <img src={bg5.src} class="w-full md:w-1/2" loading="lazy" alt="bebe1">
            <p class="text-slate-700 w-full md:w-1/2 md:px-10 text-xl">Te enseñaremos técnicas probadas para ayudar a tu bebé a desarrollar habilidades motoras y de coordinación mientras comen por sí mismos. Desde el uso de cucharas hasta la exploración táctil y sensorial, cada paso es importante.</p>    
        </div>
        <hr class="w-4/6 m-auto my-5 border-slate-700">
        <div class="flex items-center justify-center gap-10 flex-col md:flex-row my-5">
            <p class="text-slate-700 w-full md:w-1/2 md:px-10 text-xl">La transición de papillas a <strong>alimentos sólidos</strong> es única para cada bebé. Nuestro curso te guiará para identificar las señales de tu bebé y ajustar el proceso de acuerdo a sus necesidades individuales.</p>    
            <img src={plato.src} class="w-full md:w-1/2" class="flex-shrink-0" loading="lazy" alt="bebe2">
        </div>
        <hr class="w-4/6 m-auto my-5 border-0.2 border-slate-700">
        <div class="w-full m-auto flex justify-center gap-10 flex-col md:flex-row items-center my-5">
            <img src={bg7.src} class="w-full md:w-1/2" loading="lazy" alt="bebe1">
            <p class="text-slate-700 w-full md:w-1/2 md:px-10 text-xl">Aprenderás a cocinar platillos nutritivos y fáciles, que podrás ofrecer a tu bebé y a toda la familia, sin pasar horas en la cocina ni gastar una fortuna en ingredientes o alimentos especiales.</p>    
        </div>
        <hr class="w-4/6 m-auto my-5 border-0.5 border-slate-700">
        <div class="flex items-center justify-center gap-10 flex-col md:flex-row my-5">
            <p class="text-slate-700 w-full md:w-1/2 md:px-10 text-xl">Al unirte a nuestro curso, tendrás acceso a una <strong>comunidad de padres</strong> en la misma situación. Comparte tus experiencias, obtén consejos y apoyo de otros padres que están pasando por la misma etapa.</p>    
            <img src={bg11.src} class="w-full md:w-1/2" loading="lazy" alt="bebe2">
        </div>
    </div>
</main>